- page_title "Members"

.row.prepend-top-default
  .col-lg-12
    %h4
      Project members
    - if can?(current_user, :admin_project_member, @project)
      %p
        You can add a new member to
        %strong= @project.name
        or share it with another group.
    - else
      %p
        Members can be added by project
        %i Masters
        or
        %i Owners
    .light
      - if can?(current_user, :admin_project_member, @project) && !membership_locked?
        %ul.nav-links.project-member-tabs{ role: 'tablist' }
          %li.active{ role: 'presentation' }
            %a{ href: '#add-member-pane', id: 'add-member-tab', data: { toggle: 'tab' }, role: 'tab' } Add member
          - if @project.allowed_to_share_with_group?
            %li{ role: 'presentation' }
              %a{ href: '#share-with-group-pane', id: 'share-with-group-tab', data: { toggle: 'tab' }, role: 'tab' } Share with group

        .tab-content.project-member-tab-content
          .tab-pane.active{ id: 'add-member-pane', role: 'tabpanel' }
            = render 'projects/project_members/new_project_member', tab_title: 'Add member'
          .tab-pane{ id: 'share-with-group-pane', role: 'tabpanel' }
            = render 'projects/project_members/new_shared_group', tab_title: 'Share with group'

        = render 'shared/members/requests', membership_source: @project, requesters: @requesters
        .clearfix
          %h5.member.existing-title
            Existing members and groups
        - if @group_links.any?
          = render 'projects/project_members/groups', group_links: @group_links

    = render 'projects/project_members/team', members: @project_members
    = paginate @project_members, theme: "gitlab"
